.pageError {
    color: #FFFFFF;
    font-family: sans-serif;
}

.textError{
    margin-top: 10vh;
}
.text404{
    font-size: 10em;
}
.textSorry{
    
    font-size: 3rem;
    
}
.textOther{
    font-size: 2rem;
}



