.container-tw {
  display: flex;
  flex-direction: column;
}

.portada {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portada-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleHardk {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tipoUno {
  color: var(--Gray, var(--Gray, #647788));
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tipoDos {
  color: #fff;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* //////////////////////////// */
.tweet-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tweet-header {
  text-align: left;
}
.tweet-content {
  text-align: left;
}
.tweet-actions {
  display: flex;

  margin-top: 8px;
}

.action-icon {
  cursor: pointer;
  color: #f91894;
  margin-right: 10px;
}

.action-icon:hover {
  color: grey; /* Cambia el color al pasar el ratón (puedes ajustarlo según tu diseño) */
}

.portada {
  margin-bottom: 20px;
}

.tweet-content-container {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet-info {
  color: #ffff;
  display: flex;
  flex-direction: column;
}

.tweet-header {
  margin-bottom: 5px;
}
.tweet-header span {
  color: #647788;
}

.perfilHome {
  color: white;
}
.perfilHome p {
  color: #647788;
}

.colorCount {
  color: #f91894;
  font-size: 12px;
}

.derechaHome div {
  border-radius: 5%;
  background-color: #1e2732;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.btnLogout {
  position: fixed;
  padding-top: 60vh;
}
.tweet-item textarea::placeholder {
  color: #647788;
}

@media (max-width: 768px) {
  .derechaHome {
    display: none; /* Oculta la columna izquierda */
  }

  .btnLogout {
    position: static;
    padding-top: 0;
  }
}
