.containerProfile {
  display: flex;
  height: 93vh;
  width: 100%;
}

.iconoX {
  position: absolute;
  top: 50px;
  left: 50px;
}

.pp {
  display: flex;
  justify-content: center;
  color: black;
}

.column1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  width: 496px;
  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%;
  background-color: #28384c;
}

.column2 {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  color: gray;
  background-color: white;
  width: 616px;
  flex-shrink: 0;
  border-bottom-right-radius: 2%;
  border-top-right-radius: 2%;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.buttonLogin {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  background: #1d9bf0;
  color: white;
  border: 0;
}

.textCol5 {
  color: white;
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 50%;
}

.signUp {
  color: black;
  font-size: 40px;
}

.form-group1 {
  padding-bottom: 20px;
  width: 100%;
}

.form-group {
  padding-top: 25px;
}

@media (max-width: 1080px) {
  .textCol5 {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .column1 {
    display: none; /* Oculta la columna izquierda */
  }

  .column2 {
    /* Ocupa todo el ancho de la pantalla */
    border-bottom-left-radius: 2%;
    border-top-left-radius: 2%;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .containerProfile {
    display: flex;
    height: 93vh;
    width: 100%;
    padding: 0%;
  }

  .container-fluid {
    padding: 0%;
    margin: 0%;
  }
}

@media (max-width: 375px) {
  .column2 {
    /* Ocupa todo el ancho de la pantalla */
    border-bottom-left-radius: 2%;
    border-top-left-radius: 2%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-group1 {
    padding-bottom: 0px;
    width: 100%;
  }

  .form-group {
    padding-top: 10px;
  }
}

@media (max-height: 600px) {
  .textCol5 {
    width: 35%;
  }

  .column2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .form-group {
    padding-top: 4px;
  }

  .form-group1 {
    padding-bottom: 0px;
    width: 100%;
  }

  .button {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }
}