/* register.css */

/*.container {
  display: flex;
}*/
h1 {
  color: black;
}
.subTitle {
  color: black;
}

.column7 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: gray;
  background-color: white;
  width: 616px;
  height: 816px;
  flex-shrink: 0;
}

.buttonLogin {
  width: 397px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #1d9bf0;
}

.column5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; 
  align-items: center;
  width: 496px;
}

.textCol5 {
  color: white;
}
